@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(./fonts/Roboto.ttf) format("truetype");
}

@font-face {
  font-family: "WorkSans";
  src: local("WorkSans"), url(./fonts/WorkSans.ttf) format("truetype");
}

@font-face {
  font-family: "RockSalt";
  src: local("RockSalt"), url(./fonts/RockSalt.ttf) format("truetype");
}

@font-face {
  font-family: "Kredit";
  src: local("Kredit"), url(./fonts/Kredit.ttf) format("truetype");
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url(./fonts/Inter.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  background-color: #dbdbdb;
  text-align: center;
}

body h1 {
  font-family: "WorkSans";
}

body::-webkit-scrollbar {
  width: 9px;
  background-color: #fafafa;
}
body::-webkit-scrollbar-thumb {
  background: #3f3f41;
  border-radius: 15px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #6a6a6d;
}

a {
  text-decoration: none;
}
